{
    "extends": [
      "wesbos"
    ],
    "rules": {
      "no-console": 2,
      "arrow-body-style": "off",
      "prettier/prettier": [
        "error",
        {
          "trailingComma": "es5",
          "singleQuote": true,
          "printWidth": 120,
          "tabWidth": 4,
          "semi": false
        }
      ]
    }
}